<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Daisuke Itoga">
    <title>商品管理システム試作品 - ユーザーリスト画面</title>
    <div th:replace="product-management/fragments/head.html"></div>
    <link th:href="@{/css/product-management/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/product-management/list.css}" rel="stylesheet">
</head>

<body>
<!-- モーダルの定義 -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">確認</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
            </div>
            <div class="modal-body">
                ユーザーを削除しますが、よろしいですか？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                <a id="confirmDeleteButton" class="btn btn-danger" href="#">削除する</a>
            </div>
        </div>
    </div>
</div>
<div th:replace="product-management/fragments/symbols :: symbols"></div>

<div th:replace="product-management/fragments/header.html"></div>

<div class="container-1 d-flex">
    <div th:replace="product-management/fragments/dashboard.html">
    </div>
    <main class="container-fluid col-md-10 justify-content-center mt-4">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="rounded-container p-sm-4 p-0 col-11 flex-column">
                <h2 class="mb-3 d-flex align-items-center" th:if="${isUserDelete}">
                    <span class="badge bg-success mb-3">削除が完了しました</span>
                </h2>
                <div class="d-flex">
                    <h2 class="col-6">
                        ユーザー一覧
                    </h2>
                    <a class="mb-3 btn btn-outline-secondary" th:href="@{/user/register}">新規追加</a>
                </div>
                <form class="mb-3 form-search" role="search" th:action="@{/user/search}" method="get"
                      th:object="${userSearchForm}">
                    <span th:if="${#fields.hasErrors('search')}" th:errors="*{search}" class="text-danger"></span>
                    <div class="d-flex">
                        <input type="hidden" name="sortBy" th:field=*{sortBy}/>
                        <input type="hidden" name="direction" th:field=*{direction}/>
                        <input type="hidden" name="page" th:field=*{page}/>
                        <input type="hidden" name="size" th:field=*{size}/>
                        <input class="form-control-sm me-3 col-10 col-md-9  col-lg-7 rounded" type="search"
                               placeholder="商品名、カテゴリをフィルタリング" aria-label=".form-control-sm Search"
                               th:field=*{search}>
                        <button class="rounded bg-light" type="submit">
                            <svg class="bi-search">
                                <use xlink:href="#search"/>
                            </svg>
                        </button>
                    </div>
                </form>
                <div class="table-responsive rounded-table">
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th scope="col">
                                <a th:href="@{/user/showList(
                                        sortBy='userName',
                                        direction=${sortBy == 'userName' && direction == 'asc' ? 'desc' : 'asc'},
                                        keyword=${userSearchForm.search != null ? userSearchForm.search : ''},
                                        page=${currentPage},
                                        size=${pageSize}
                                    )}"
                                   class="link-primary text-decoration-none">ユーザー名
                                    <span th:if="*{sortBy == 'userName'}"
                                          th:text="*{direction == 'asc' ? '▲' : '▼'}"></span>
                                </a>
                            </th>

                            <th scope="col">
                                <a th:href="@{/user/showList(
                                         sortBy='displayName',
                                         direction=${sortBy == 'displayName' && direction == 'asc' ? 'desc' : 'asc'},
                                         keyword=${userSearchForm.search != null ? userSearchForm.search : ''},
                                        page=${currentPage},
                                        size=${pageSize}
                                         )}"
                                   class="link-primary text-decoration-none">役割
                                    <span th:if="*{sortBy == 'displayName'}"
                                          th:text="*{direction == 'asc' ? '▲' : '▼'}"></span>
                                </a>
                            </th>
                            <th scope="col">
                                <a th:href="@{/user/showList(
                                         sortBy='email',
                                         direction=${sortBy == 'email' && direction == 'asc' ? 'desc' : 'asc'},
                                         keyword=${userSearchForm.search != null ? userSearchForm.search : ''},
                                        page=${currentPage},
                                        size=${pageSize}
                                         )}"
                                   class="link-primary text-decoration-none">メールアドレス
                                    <span th:if="*{sortBy == 'email'}"
                                          th:text="*{direction == 'asc' ? '▲' : '▼'}"></span>
                                </a>
                            </th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${users != null}" th:each="user : ${users}">
                            <td th:text="${user.userName}"></td>
                            <td th:text="${user.roles}"></td>
                            <td th:text="${user.email}"></td>
                            <td>
                                <a th:href="@{/user/edit(userId=${user.id})}">
                                    <svg class="bi">
                                        <use xlink:href="#edit"/>
                                    </svg>
                                </a>
                            </td>
                            <td>
                                <a th:href="@{/user/delete(userId=${user.id})}" class="delete-link">
                                    <svg class="bi">
                                        <use xlink:href="#delete"/>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="bd-example-snippet bd-code-snippet　text-center">
                    <div class="bd-example m-0 border-0">
                        <nav aria-label="Standard pagination example">
                            <ul class="pagination justify-content-center mb-0 mt-3">
                                <!-- 最初のページへのリンク -->
                                <li class="page-item" th:classappend="${currentPage == 0} ? ' disabled'">
                                    <a class="page-link"
                                       th:href="@{/user/showList(
                                            sortBy=${sortBy},
                                            direction=${direction},
                                            keyword=${userSearchForm.search != null ? userSearchForm.search : ''},
                                            page=0,
                                            size=${pageSize}
                                        )}"
                                       aria-label="最初のページ">
                                        <span aria-hidden="true">&laquo;&laquo;</span>
                                    </a>
                                </li>

                                <!-- 前のページへのリンク -->
                                <li class="page-item" th:classappend="${currentPage == 0} ? ' disabled'">
                                    <a class="page-link"
                                       th:href="@{/user/showList(
                                            sortBy=${sortBy},
                                            direction=${direction},
                                            keyword=${userSearchForm.search != null ? userSearchForm.search : ''},
                                            page=${currentPage - 1},
                                            size=${pageSize}
                                       )}"
                                       aria-label="前のページ">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>

                                <!-- 前方の省略記号 -->
                                <li class="page-item" th:if="${currentPage > 1}">
                                    <span class="page-link">...</span>
                                </li>

                                <!-- 現在のページとその前後のページ番号 -->
                                <li class="page-item"
                                    th:each="i : ${#numbers.sequence(currentPage - 1, currentPage + 1)}"
                                    th:if="${i >= 0 and i < totalPages}"
                                    th:classappend="${i == currentPage} ? ' active'">
                                    <a class="page-link" th:href="@{/user/showList(
                                        sortBy=${sortBy},
                                        direction=${direction},
                                        keyword=${userSearchForm.search != null ? userSearchForm.search : ''},
                                        page=${i},
                                        size=${pageSize}
                                    )}"
                                       th:text="${i + 1}">1</a>
                                </li>

                                <!-- 後方の省略記号 -->
                                <li class="page-item" th:if="${currentPage < totalPages - 2}">
                                    <span class="page-link">...</span>
                                </li>

                                <!-- 次のページへのリンク -->
                                <li class="page-item"
                                    th:classappend="${currentPage + 1 >= totalPages} ? ' disabled'">
                                    <a class="page-link"
                                       th:href="@{/user/showList(
                                            sortBy=${sortBy},
                                            direction=${direction},
                                            keyword=${userSearchForm.search != null ? userSearchForm.search : ''},
                                            page=${currentPage + 1},
                                            size=${pageSize}
                                       )}"
                                       aria-label="次のページ">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>

                                <!-- 最後のページへのリンク -->
                                <li class="page-item"
                                    th:classappend="${currentPage + 1 >= totalPages} ? ' disabled'">
                                    <a class="page-link"
                                       th:href="@{/user/showList(
                                            sortBy=${sortBy},
                                            direction=${direction},
                                            keyword=${userSearchForm.search != null ? userSearchForm.search : ''},
                                            page=${totalPages - 1},
                                            size=${pageSize})}"
                                       aria-label="最後のページ">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script th:src="@{/js/modal.js}" defer></script>
</body>

</html>